coinbase-advanced-py==1.8.2
kagglehub==0.2.7
matplotlib==3.10.3
numpy==2.3.0
pandas==2.2.3
plotly==6.3.0
python-dotenv==0.14.0
python-telegram-bot==22.5
requests==2.32.3
schedule==1.2.2
scikit-learn==1.6.1
scipy==1.15.3
sparsemax==0.1.9
torch==2.7.1
tqdm==4.67.1